# RABBITMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_QUEUE_NAME=weather_queue
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# MONGODB
MONGO_INITDB_DATABASE=weather_system
MONGODB_URI=mongodb://mongodb:27017/weather_system

# WEATHER API (NestJS)
PORT=3000
NODE_ENV=production

# JWT Authentication
JWT_SECRET=your-JWT_SECRET

# Default Admin User
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_NAME=Administrator

# Google Gemini API
GEMINI_API_KEY=api-GEMINI_API_KEY

# COLETA DE DADOS (Python)
WEATHER_CITY=Boa Esperança
WEATHER_STATE=Minas Gerais
COLLECTION_INTERVAL=3600

# FILA WORKER (Go)
API_URL=http://weather-api:3000/api/weather/logs

# FRONTEND (React)
VITE_API_URL=http://localhost:3000/api

# PORTS EXPOSURE (Host Machine)
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
MONGODB_PORT=27017
API_PORT=3000
FRONTEND_PORT=5173
