# Configuração da Localização
CITY_NAME=Boa Esperança
STATE=Minas Gerais

# Configuração do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=weather_data

# Configuração da Coleta
INTERVALO_COLETA=3600  # Intervalo de coleta em segundos (3600 = 1 hora)
