# Configuração do Servidor
PORT=3000
NODE_ENV=development

# Configuração MongoDB
MONGODB_URI=mongodb://localhost:27017/weather_system

# Configuração JWT
JWT_SECRET=seu-secret-seguro-aqui

# Configuração do Usuario Padrão
DEFAULT_USER_EMAIL=admin@example.com
DEFAULT_USER_PASSWORD=123456
DEFAULT_USER_NAME=Administrator

# Configuração Google Gemini API
GEMINI_API_KEY=sua-chave-api-do-gemini-aqui